@import "tailwindcss";

* {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

*::-webkit-scrollbar {
  display: none;
}

@keyframes fade-zoom {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  30% {
    opacity: 1;
    transform: scale(1.1);
  }
  60% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

.animate-fade-zoom {
  animation: fade-zoom 2.5s ease-in-out forwards;
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loader {
  border-radius: 50%;
}
